//
// Main LESS modifications
// --------------------------------------------------

// Code from twitter bootstrap should go in mixins.less

.container {
	width: 960px;
}

body {
	padding-top: 70px;
}

.actions {
	padding: 1.3em;
}

.order, .social {
	margin: 0.25em;
}

.image, .video {
	border: 1px solid @gray-lighter;
	padding: 2px;
}